* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  background-color: #02111b;
}

h1 {
  color: white;
  text-align: center;

  margin: 5rem 0 2rem;

  font-size: 3rem;
  font-weight: 700;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 svg {
  width: 100px;
  height: 100px;
}

strong {
  margin-left: 0.5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 1rem 0;

  width: 100%;
  background-color: white;

  border-radius: 20px 20px 0 0;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

input {
  height: 40px;
  width: 50%;

  border-radius: 20px;
  border: 2px solid black;

  font-size: 1rem;
  padding: 0 20px;
}

input[type="checkbox"] {
  width: 25px;
}

button {
  height: 60px;
  width: 60px;

  border-radius: 50%;

  background-color: #d81e5b;
  color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  background-color: white;

  max-width: 600px;
  height: 600px;

  border-radius: 22px;

  margin: 0 auto;

  background-color: #d81e5b;

  border-radius: 20px;
}

.container > div {
  background-color: white;

  margin: 2rem auto;

  width: 90%;
  height: 100%;

  border-radius: 10px;

  display: grid;
  grid-template:
    "city city" 50px
    "row row" 1px
    "description geralInfo" 150px
    / 1fr 2fr;
  padding: 1rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.row {
  width: 100%;
  height: 2px;

  background-color: black;

  grid-area: row;
}
.city {
  display: flex;
  justify-content: center;

  grid-area: city;
}

.city h2 {
  font-size: 2rem;

  text-transform: uppercase;

  margin-right: 0.2rem;

  font-weight: 700;
}

.temp {
  grid-area: temp;
  text-align: center;
}

.temp p {
  display: flex;
  align-items: center;
  justify-content: end;
}

.description {
  grid-area: description;

  margin: 0 auto;
  text-align: center;

  font-weight: 700;
}

.description p {
  text-transform: capitalize;
}

.geralInfo {
  grid-area: geralInfo;

  margin-top: 0.5rem;
}

.geralInfo p {
  display: flex;
  align-items: center;
}

svg {
  width: 40px;
  height: 40px;
}
