*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, sans-serif;
}

body{
    background-color: #02111B;
}

#root,
.app{
    height: 100vh;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input{
    height: 80px;
    width: 400px;

    border-radius: 50px;
    font-size: 1.2rem;

    padding: 1rem;

    border: 3px solid #D81E5B;
}

button{
    height: 80px;
    width: 80px;

    border-radius: 50%;

    background-color: #D81E5B;
    color: white;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    opacity: 0.8;
}