*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, sans-serif;
}

body{
    background-color: #02111B;
}

h1{
    color: white;
    text-align: center;

    margin: 5rem 0 2rem;

    font-size: 3rem;

    text-transform: uppercase;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

select{
    height: 60px;
    width: 300px;

    margin-right: 10px;

    border-radius: 120px;
    font-size: 1.2rem;

    padding: 0.5rem;
}

button{
    height: 60px;
    width: 60px;

    border-radius: 50%;

    background-color: #D81E5B;
    color: white;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    opacity: 0.8;
}